

.table{
    display: grid;
    margin: 30px 10%;
    width: 80%;
    height: 600px;
    grid-template-columns: repeat(7, calc(100% / 7));
}

.column {
    height: 100%;
    width: 100%;
    display: grid;
    position: relative;
    grid-template-rows: repeat(96, calc(100% / 96));
    touch-action: none;
    
    &:nth-child(1) {
        position: relative;
        div:nth-child(4n+1):before {
            content: attr(data-hour);
            padding: 0px 5px;
            position: absolute;
            right: 100%;
            transform: translateY(-1px);
            border-top: 1px black solid;
        }
    }
    &:nth-child(even) {
        background-color: #f3f3f3;
    }
    
    &:nth-child(odd) {
        background-color: #e2e2e2;
    }
    
    &::before {
        content: attr(data-dayindex);
        position: absolute;
        bottom: 100%;
        width: 100%;
        padding: 5px 0px;
        text-align: center;
    }
    div {
        &:nth-child(4n+1) {
            border-top: 1px black solid;
        }
        &[data-priority="1"] {background-color: #e6308a;}
        &[data-priority="2"] {background-color: #b12ade;}
        &[data-priority="3"] {background-color: #5928ed;}
        &[data-priority="4"] {background-color: #2547f0;}
        &[data-priority="5"] {background-color: #0074e6;}
    }
}